# SPDX-License-Identifier: GPL-2.0-only
#
# Platform support for Chrome OS hardware (Chromebooks and Chromeboxes)
#

config CROS_EC_PROTO
	tristate "ChromeOS EC communication protocol helpers" if COMPILE_TEST
