if ARCH_STM32MP

config ARCH_STM32MP1157
	select ARM_SECURE_MONITOR
	bool

config MACH_STM32MP157C_DK2
	select ARCH_STM32MP1157
	select ARM_USE_COMPRESSED_DTB
	select ENVIRONMENT_VARIABLES
	bool "STM32MP157C-DK2 board"

endif
