# SPDX-License-Identifier: GPL-2.0-only

if ARCH_STM32MP

config ARCH_NR_GPIO
	int
	default 416

config ARCH_STM32MP1
	bool
	select CPU_V7

config ARCH_STM32MP2
	bool
	select CPU_V8

config ARCH_STM32MP13
	select ARM_PSCI_CLIENT
	bool
	select ARCH_STM32MP1

config ARCH_STM32MP157
	select ARM_PSCI_CLIENT
	bool
	select ARCH_STM32MP1

config ARCH_STM32MP257
	select ARM_PSCI_CLIENT
	bool
	select ARCH_STM32MP2

config MACH_STM32MP13XX_DK
	select ARCH_STM32MP13
	bool "STM32MP135F DK board"
	depends on 32BIT

config MACH_STM32MP15XX_DKX
	select ARCH_STM32MP157
	bool "STM32MP157 DK1 and DK2 boards"
	depends on 32BIT
	help
	  builds a single barebox-stm32mp15xx-dkx.stm32 that can be deployed
	  as SSBL on both the stm32mp157a-dk1 and stm32mp157c-dk2

config MACH_LXA_MC1
	select ARCH_STM32MP157
	bool "Linux Automation MC-1 board"
	depends on 32BIT

config MACH_SEEED_ODYSSEY
	select ARCH_STM32MP157
	bool "Seeed Studio Odyssey"
	depends on 32BIT

config MACH_STM32MP15X_EV1
	select ARCH_STM32MP157
	bool "STM32MP15X-EV1 board"
	depends on 32BIT
	help
	  builds a single barebox-stm32mp15x-ev1.stm32 that can be deployed
	  as SSBL on any STM32MP15X-EVAL platform, like the
	  STM32MP157C-EV1

config MACH_PROTONIC_STM32MP1
	select ARCH_STM32MP157
	bool "Protonic PRTT1L family of boards"
	depends on 32BIT
	help
	  Builds all barebox-prtt1*.stm32 that can be deployed as SSBL
	  on the respective PRTT1L family board

config MACH_PHYTEC_PHYCORE_STM32MP1
	select ARCH_STM32MP157
	bool "phyCORE-STM32MP1"
	depends on 32BIT
	help
	  builds an additional barebox-phytec-phycore.stm32
	  that can be deployed as SSBL on the phyCORE-STM32MP1

config MACH_STM32MP25X_EV1
	select ARCH_STM32MP257
	bool "STM32MP25X-EV1 board"
	depends on 64BIT
	help
	  FIXME

endif
