CONFIG_ARCH_SAMA5D3=y
CONFIG_AT91_MULTI_BOARDS=y
CONFIG_MACH_MICROCHIP_KSZ9477_EVB=y
CONFIG_AT91_BOOTSTRAP=y
CONFIG_BAREBOX_MAX_PBLX_SIZE=0x10000
CONFIG_RELOCATABLE=y
CONFIG_PROMPT="BOOT.BIN:"
CONFIG_SHELL_NONE=y
# CONFIG_TIMESTAMP is not set
CONFIG_PBL_CONSOLE=y
CONFIG_DEFAULT_LOGLEVEL=6
CONFIG_MCI=y
CONFIG_MCI_STARTUP=y
# CONFIG_MCI_WRITE is not set
CONFIG_MCI_ATMEL=y
CONFIG_MFD_SYSCON=y
# CONFIG_FS_RAMFS is not set
# CONFIG_FS_DEVFS is not set
CONFIG_FS_FAT=y
CONFIG_FS_FAT_LFN=y
CONFIG_BOOTSTRAP_DEVFS=y
CONFIG_BOOTSTRAP_DISK=y
