CONFIG_ARCH_SAMA5D2=y
CONFIG_AT91_MULTI_BOARDS=y
CONFIG_MACH_SAMA5D27_SOM1=y
CONFIG_AT91_LOAD_BAREBOX_SRAM=y
# CONFIG_GLOBALVAR is not set
CONFIG_BAREBOX_MAX_PBL_SIZE=0x10000
CONFIG_BAREBOX_MAX_BARE_INIT_SIZE=0x10000
CONFIG_RELOCATABLE=y
CONFIG_PROMPT="BOOT.BIN:"
CONFIG_SHELL_SIMPLE=y
# CONFIG_TIMESTAMP is not set
# CONFIG_BOOTM is not set
CONFIG_PBL_CONSOLE=y
CONFIG_PARTITION=y
# CONFIG_ENV_HANDLING is not set
CONFIG_DEFAULT_LOGLEVEL=6
CONFIG_DEBUG_LL=y
# CONFIG_SPI is not set
CONFIG_MFD_SYSCON=y
# CONFIG_FS_RAMFS is not set
# CONFIG_FS_DEVFS is not set
