# SPDX-License-Identifier: GPL-2.0-only

menu "Mediatek SoCs"
        depends on ARCH_MEDIATEK

config ARCH_MEDIATEK_V8
	bool
	select CPU_V8
	select CPU_SUPPORTS_64BIT_KERNEL
	select CLOCKSOURCE_ARM_ARCHITECTED_TIMER
	select CHROME_PLATFORMS

config ARCH_MT81XX
	bool "Mediatek MT81XX SoCs"
	select ARCH_MEDIATEK_V8
	depends on 64BIT
	default y
	help
	  Enables support for various Mediatek SoCs used in Chromebooks

endmenu
