if ARCH_NINTENDO

config ARCH_TEXT_BASE
	hex
	default 0x02000000 if MACH_NINTENDO_GBA_MULTIBOOT
	default 0x08000000

config NINTENDO_INIT
	bool "Nintendo init application"
	select COMMAND_SUPPORT

config ARCH_NINTENDO_GBA
	bool
	select CPU_ARM7TDMI
	select CPU_32v4T_NO_CACHES
	select HAS_DEBUG_LL

config MACH_NINTENDO_GBA
	bool "Nintendo Game boy Advance"
	select ARCH_NINTENDO_GBA
	select OFDEVICE

endif

