CONFIG_NAME="efi_defconfig"
CONFIG_GLOBALVAR=y
CONFIG_MMU=y
CONFIG_SHELL_NONE=y
CONFIG_GLOB_SORT=y
# CONFIG_ERRNO_MESSAGES is not set
CONFIG_BOOTM_VERBOSE=y
CONFIG_BOOTM_INITRD=y
# CONFIG_BOOTM_UIMAGE is not set
CONFIG_FLEXIBLE_BOOTARGS=y
CONFIG_IMD=y
CONFIG_CONSOLE_NONE=y
# CONFIG_CONSOLE_DISABLE_INPUT is not set
# CONFIG_PARTITION_DISK_DOS is not set
CONFIG_ENV_HANDLING=y
# CONFIG_ENV_HANDLING_AUTOPROBE is not set
CONFIG_POLLER=y
CONFIG_STATE=y
CONFIG_BOOTCHOOSER=y
# CONFIG_FILETYPE_STRINGS is not set
CONFIG_DEBUG_LL=y
CONFIG_EFI_PAYLOAD_BOOTM=y
# CONFIG_EFI_GUID_STRINGS is not set
# CONFIG_SPI is not set
CONFIG_DISK=y
CONFIG_DISK_WRITE=y
CONFIG_VIDEO=y
CONFIG_DRIVER_VIDEO_EFI_GOP=y
CONFIG_FINTEK_SUPERIO=y
CONFIG_SMSC_SUPERIO=y
CONFIG_DEV_MEM=y
CONFIG_WATCHDOG=y
CONFIG_WATCHDOG_EFI=y
CONFIG_F71808E_WDT=y
# CONFIG_VIRTIO_MENU is not set
# CONFIG_FS_RAMFS is not set
# CONFIG_FS_DEVFS is not set
CONFIG_FS_EFI=y
CONFIG_FS_EFIVARFS=y
